{
    "development": {
        "config_id": "development",
        "app_name": "axol-api",
        "node_port": 3000,
        "angular_url": "",
        "redirect_uri": "",
        "client_id": "",
        "client_secret": "",
        "database": "axoldb",
        "db_user": "<user>",
        "db_password": "<password>",
        "db_host": "localhost",
        "db_port": 5432
    },
    "production": {
        "config_id": "production",
        "node_port": 8080,
        "database": "axol-api-prod"
    }
}